aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
appnope==0.1.4
asttokens==3.0.1
attrs==26.1.0
bcrypt==5.0.0
build==1.5.0
certifi==2026.5.20
charset-normalizer==3.4.7
chromadb
click==8.4.1
coloredlogs==15.0.1
comm==0.2.3
contourpy
cycler==0.12.1
debugpy==1.8.21
decorator==5.3.1
durationpy==0.10
executing==2.2.1
filelock==3.29.1
faiss-cpu
flatbuffers==25.12.19
fonttools==4.63.0
frozenlist==1.8.0
fsspec==2026.4.0
googleapis-common-protos==1.75.0
greenlet==3.5.1
grpcio==1.81.0
h11==0.16.0
hf-xet==1.5.1
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.18.0
humanfriendly==10.0
idna==3.18
importlib_resources==7.1.0
ipykernel==7.3.0
ipython==9.14.1
ipython_pygments_lexers==1.1.1
jedi==0.20.0
joblib==1.5.3
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.9.1
jupyter_core==5.9.1
kiwisolver==1.5.0
kubernetes==36.0.2
langchain==1.3.6
langchain-chroma
langchain-classic
langchain-community
langchain-core
langchain-experimental
langchain-ollama
langchain-openai
langchain-protocol
langchain-text-splitters
langgraph
langgraph-cli
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
llvmlite
markdown-it-py
matplotlib
matplotlib-inline
mdurl
mmh3
mpmath
multidict
narwhals
nest-asyncio
numba
numpy
oauthlib
ollama
onnxruntime
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
ormsgpack
overrides
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pybase64
pydantic
pydantic-settings
pydantic_core
Pygments
pynndescent
pyparsing
pypdf
PyPika
pyproject_hooks
python-dateutil
python-dotenv
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
shellingham
six
SQLAlchemy
stack-data
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
tornado
tqdm
traitlets
transformers
typer
typing-inspection
typing_extensions
umap-learn
urllib3
uuid_utils
uvicorn
watchfiles
wcwidth
websocket-client
websockets
xxhash
yarl
zstandard
langchain-google-genai
google-generativeai
google-api-core